.comp-container{
    border: 2px solid gray;
}

.comp-row{
    border-top: 2px solid gray;
}

.suggestion h3{
    text-align: center;
}

.color{
    background-color: gray;
}

.add-icon{
    width: fit-content;
    position: relative;
    left:100%;

    color: darkgreen;
}
.remove-icon{
    width: fit-content;
    position: relative;
    left:100%;
    color: red;
}

.sel-competitor{
    border: 2px solid gray;
}

#target{
    height: 500px;
    overflow: auto;
}

.company-info{
    border-top: 2px solid gray;
}

.rotate-caret{
    transform: rotate(90deg);
}